/* line 41, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 52, ../sass/screen.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 60, ../sass/screen.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 69, ../sass/screen.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 77, ../sass/screen.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 85, ../sass/screen.scss */
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* line 95, ../sass/screen.scss */
html {
  line-height: 1;
  font-family: sans-serif;
  font-size: 10px;
  height: 100%;
}
/* line 101, ../sass/screen.scss */
html input[type="button"] {
  cursor: pointer;
}
/* line 104, ../sass/screen.scss */
html input[disabled] {
  cursor: default;
}

/* line 108, ../sass/screen.scss */
body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
  overflow-x: hidden;
  font-family: Open Sans;
  background-color: #d4bea6;
  height: 100%;
}
/* line 120, ../sass/screen.scss */
body.loading {
  overflow-y: hidden;
}

/* line 139, ../sass/screen.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 162, ../sass/screen.scss */
blockquote {
  quotes: none;
}
/* line 165, ../sass/screen.scss */
blockquote:before {
  content: "";
  content: none;
}
/* line 169, ../sass/screen.scss */
blockquote:after {
  content: "";
  content: none;
}

/* line 174, ../sass/screen.scss */
pre {
  overflow: auto;
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 180, ../sass/screen.scss */
a {
  background-color: transparent;
  text-decoration: none;
}
/* line 184, ../sass/screen.scss */
a img {
  border: none;
}
/* line 187, ../sass/screen.scss */
a:active {
  outline: 0;
}
/* line 190, ../sass/screen.scss */
a:hover {
  outline: 0;
  cursor: pointer;
}

/* line 210, ../sass/screen.scss */
code {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 218, ../sass/screen.scss */
dfn {
  font-style: italic;
}

/* line 225, ../sass/screen.scss */
img {
  border: 0;
  vertical-align: middle;
  width: 100%;
}

/* line 234, ../sass/screen.scss */
kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 239, ../sass/screen.scss */
q {
  quotes: none;
}
/* line 242, ../sass/screen.scss */
q:before {
  content: "";
  content: none;
}
/* line 246, ../sass/screen.scss */
q:after {
  content: "";
  content: none;
}

/* line 254, ../sass/screen.scss */
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 259, ../sass/screen.scss */
small {
  font-size: 80%;
}

/* line 266, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 270, ../sass/screen.scss */
sub {
  bottom: -0.25em;
}

/* line 275, ../sass/screen.scss */
sup {
  top: -0.5em;
}

/* line 286, ../sass/screen.scss */
b {
  font-weight: bold;
}

/* line 308, ../sass/screen.scss */
ol {
  list-style: none;
}

/* line 312, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 319, ../sass/screen.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 331, ../sass/screen.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 336, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 357, ../sass/screen.scss */
th {
  padding: 0;
}

/* line 362, ../sass/screen.scss */
td {
  padding: 0;
}

/* line 367, ../sass/screen.scss */
article {
  display: block;
}

/* line 371, ../sass/screen.scss */
aside {
  display: block;
}

/* line 375, ../sass/screen.scss */
canvas {
  display: inline-block;
  vertical-align: baseline;
}

/* line 380, ../sass/screen.scss */
details {
  display: block;
}

/* line 387, ../sass/screen.scss */
figure {
  display: block;
  margin: 1em 40px;
  margin: 0;
}

/* line 393, ../sass/screen.scss */
figcaption {
  display: block;
}

/* line 397, ../sass/screen.scss */
footer {
  display: block;
  padding: 40px 0;
  background-color: #f0ece9;
}
/* line 402, ../sass/screen.scss */
footer p {
  margin-top: 20px;
  color: #424242;
}
/* line 407, ../sass/screen.scss */
footer ul li {
  display: inline-block;
  margin-left: 10px;
}
/* line 410, ../sass/screen.scss */
footer ul li a {
  text-transform: uppercase;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #424242;
}
/* line 415, ../sass/screen.scss */
footer ul li a:hover {
  color: #be2227;
}
/* line 419, ../sass/screen.scss */
footer ul li:first-child {
  margin-left: 0;
}
/* line 423, ../sass/screen.scss */
footer ul.social {
  margin-top: 20px;
}
/* line 425, ../sass/screen.scss */
footer ul.social li {
  display: inline-block;
  background-color: #000;
  border-radius: 4px;
}
/* line 429, ../sass/screen.scss */
footer ul.social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
/* line 435, ../sass/screen.scss */
footer ul.social li a i {
  font-size: 20px;
  color: #f0ece9;
}

/* line 444, ../sass/screen.scss */
header {
  display: block;
}

/* line 448, ../sass/screen.scss */
hgroup {
  display: block;
}

/* line 452, ../sass/screen.scss */
menu {
  display: block;
}

/* line 456, ../sass/screen.scss */
nav {
  display: block;
}
/* line 459, ../sass/screen.scss */
nav ul:hover {
  cursor: default;
}

/* line 469, ../sass/screen.scss */
section {
  display: block;
  padding: 60px 0;
}

/* line 474, ../sass/screen.scss */
summary {
  display: block;
}

/* line 481, ../sass/screen.scss */
mark {
  background: #ff0;
  color: #000000;
}

/* line 486, ../sass/screen.scss */
audio {
  display: inline-block;
  vertical-align: baseline;
}
/* line 490, ../sass/screen.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 495, ../sass/screen.scss */
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 500, ../sass/screen.scss */
main {
  display: block;
}

/* line 503, ../sass/screen.scss */
progress {
  display: inline-block;
  vertical-align: baseline;
}

/* line 507, ../sass/screen.scss */
[hidden] {
  display: none;
}

/* line 510, ../sass/screen.scss */
template {
  display: none;
}

/* line 513, ../sass/screen.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 516, ../sass/screen.scss */
hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 525, ../sass/screen.scss */
button {
  overflow: visible;
  text-transform: none;
  cursor: pointer;
}
/* line 531, ../sass/screen.scss */
button:focus {
  outline: 0;
}

/* line 535, ../sass/screen.scss */
input {
  line-height: normal;
}

/* line 540, ../sass/screen.scss */
optgroup {
  font-weight: bold;
}

/* line 544, ../sass/screen.scss */
select {
  text-transform: none;
}

/* line 549, ../sass/screen.scss */
textarea {
  overflow: auto;
}

/* line 554, ../sass/screen.scss */
input[type="reset"] {
  cursor: pointer;
}

/* line 557, ../sass/screen.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 560, ../sass/screen.scss */
button[disabled] {
  cursor: default;
}

/* line 563, ../sass/screen.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 567, ../sass/screen.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 571, ../sass/screen.scss */
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 576, ../sass/screen.scss */
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 581, ../sass/screen.scss */
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

/* line 584, ../sass/screen.scss */
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 587, ../sass/screen.scss */
input[type="search"] {
  box-sizing: content-box;
}

/* line 595, ../sass/screen.scss */
* {
  box-sizing: border-box;
}
/* line 598, ../sass/screen.scss */
*:before {
  box-sizing: border-box;
}
/* line 602, ../sass/screen.scss */
*:after {
  box-sizing: border-box;
}

/* line 607, ../sass/screen.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 612, ../sass/screen.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 616, ../sass/screen.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* line 629, ../sass/screen.scss */
.img-circle {
  border-radius: 50%;
}

/* line 633, ../sass/screen.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 651, ../sass/screen.scss */
[role="button"] {
  cursor: pointer;
}

/* line 654, ../sass/screen.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 659, ../sass/screen.scss */
.container:before {
  content: " ";
  display: table;
}
/* line 663, ../sass/screen.scss */
.container:after {
  content: " ";
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  /* line 670, ../sass/screen.scss */
  .container {
    width: 750px;
  }

  /* line 673, ../sass/screen.scss */
  .col-sm-1 {
    float: left;
    width: 8.33333%;
  }

  /* line 677, ../sass/screen.scss */
  .col-sm-2 {
    float: left;
    width: 16.66667%;
  }

  /* line 681, ../sass/screen.scss */
  .col-sm-3 {
    float: left;
    width: 25%;
  }

  /* line 685, ../sass/screen.scss */
  .col-sm-4 {
    float: left;
    width: 33.33333%;
  }

  /* line 689, ../sass/screen.scss */
  .col-sm-5 {
    float: left;
    width: 41.66667%;
  }

  /* line 693, ../sass/screen.scss */
  .col-sm-6 {
    float: left;
    width: 50%;
  }

  /* line 697, ../sass/screen.scss */
  .col-sm-7 {
    float: left;
    width: 58.33333%;
  }

  /* line 701, ../sass/screen.scss */
  .col-sm-8 {
    float: left;
    width: 66.66667%;
  }

  /* line 705, ../sass/screen.scss */
  .col-sm-9 {
    float: left;
    width: 75%;
  }

  /* line 709, ../sass/screen.scss */
  .col-sm-10 {
    float: left;
    width: 83.33333%;
  }

  /* line 713, ../sass/screen.scss */
  .col-sm-11 {
    float: left;
    width: 91.66667%;
  }

  /* line 717, ../sass/screen.scss */
  .col-sm-12 {
    float: left;
    width: 100%;
  }

  /* line 721, ../sass/screen.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 724, ../sass/screen.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 727, ../sass/screen.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 730, ../sass/screen.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 733, ../sass/screen.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 736, ../sass/screen.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 739, ../sass/screen.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 742, ../sass/screen.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 745, ../sass/screen.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 748, ../sass/screen.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 751, ../sass/screen.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 754, ../sass/screen.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 757, ../sass/screen.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 760, ../sass/screen.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 763, ../sass/screen.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 766, ../sass/screen.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 769, ../sass/screen.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 772, ../sass/screen.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 775, ../sass/screen.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 778, ../sass/screen.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 781, ../sass/screen.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 784, ../sass/screen.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 787, ../sass/screen.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 790, ../sass/screen.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 793, ../sass/screen.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 796, ../sass/screen.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 799, ../sass/screen.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }

  /* line 802, ../sass/screen.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 805, ../sass/screen.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 808, ../sass/screen.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 811, ../sass/screen.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 814, ../sass/screen.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 817, ../sass/screen.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 820, ../sass/screen.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 823, ../sass/screen.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 826, ../sass/screen.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 829, ../sass/screen.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 832, ../sass/screen.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 835, ../sass/screen.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 840, ../sass/screen.scss */
  .container {
    width: 970px;
  }

  /* line 843, ../sass/screen.scss */
  .col-md-1 {
    float: left;
    width: 8.33333%;
  }

  /* line 847, ../sass/screen.scss */
  .col-md-2 {
    float: left;
    width: 16.66667%;
  }

  /* line 851, ../sass/screen.scss */
  .col-md-3 {
    float: left;
    width: 25%;
  }

  /* line 855, ../sass/screen.scss */
  .col-md-4 {
    float: left;
    width: 33.33333%;
  }

  /* line 859, ../sass/screen.scss */
  .col-md-5 {
    float: left;
    width: 41.66667%;
  }

  /* line 863, ../sass/screen.scss */
  .col-md-6 {
    float: left;
    width: 50%;
  }

  /* line 867, ../sass/screen.scss */
  .col-md-7 {
    float: left;
    width: 58.33333%;
  }

  /* line 871, ../sass/screen.scss */
  .col-md-8 {
    float: left;
    width: 66.66667%;
  }

  /* line 875, ../sass/screen.scss */
  .col-md-9 {
    float: left;
    width: 75%;
  }

  /* line 879, ../sass/screen.scss */
  .col-md-10 {
    float: left;
    width: 83.33333%;
  }

  /* line 883, ../sass/screen.scss */
  .col-md-11 {
    float: left;
    width: 91.66667%;
  }

  /* line 887, ../sass/screen.scss */
  .col-md-12 {
    float: left;
    width: 100%;
  }

  /* line 891, ../sass/screen.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 894, ../sass/screen.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 897, ../sass/screen.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 900, ../sass/screen.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 903, ../sass/screen.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 906, ../sass/screen.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 909, ../sass/screen.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 912, ../sass/screen.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 915, ../sass/screen.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 918, ../sass/screen.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 921, ../sass/screen.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 924, ../sass/screen.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 927, ../sass/screen.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 930, ../sass/screen.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 933, ../sass/screen.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 936, ../sass/screen.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 939, ../sass/screen.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 942, ../sass/screen.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 945, ../sass/screen.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 948, ../sass/screen.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 951, ../sass/screen.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 954, ../sass/screen.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 957, ../sass/screen.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 960, ../sass/screen.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 963, ../sass/screen.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 966, ../sass/screen.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 969, ../sass/screen.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }

  /* line 972, ../sass/screen.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 975, ../sass/screen.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 978, ../sass/screen.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 981, ../sass/screen.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 984, ../sass/screen.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 987, ../sass/screen.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 990, ../sass/screen.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 993, ../sass/screen.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 996, ../sass/screen.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 999, ../sass/screen.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 1002, ../sass/screen.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 1005, ../sass/screen.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 1010, ../sass/screen.scss */
  .container {
    width: 1170px;
  }

  /* line 1013, ../sass/screen.scss */
  .col-lg-1 {
    float: left;
    width: 8.33333%;
  }

  /* line 1017, ../sass/screen.scss */
  .col-lg-2 {
    float: left;
    width: 16.66667%;
  }

  /* line 1021, ../sass/screen.scss */
  .col-lg-3 {
    float: left;
    width: 25%;
  }

  /* line 1025, ../sass/screen.scss */
  .col-lg-4 {
    float: left;
    width: 33.33333%;
  }

  /* line 1029, ../sass/screen.scss */
  .col-lg-5 {
    float: left;
    width: 41.66667%;
  }

  /* line 1033, ../sass/screen.scss */
  .col-lg-6 {
    float: left;
    width: 50%;
  }

  /* line 1037, ../sass/screen.scss */
  .col-lg-7 {
    float: left;
    width: 58.33333%;
  }

  /* line 1041, ../sass/screen.scss */
  .col-lg-8 {
    float: left;
    width: 66.66667%;
  }

  /* line 1045, ../sass/screen.scss */
  .col-lg-9 {
    float: left;
    width: 75%;
  }

  /* line 1049, ../sass/screen.scss */
  .col-lg-10 {
    float: left;
    width: 83.33333%;
  }

  /* line 1053, ../sass/screen.scss */
  .col-lg-11 {
    float: left;
    width: 91.66667%;
  }

  /* line 1057, ../sass/screen.scss */
  .col-lg-12 {
    float: left;
    width: 100%;
  }

  /* line 1061, ../sass/screen.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 1064, ../sass/screen.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 1067, ../sass/screen.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 1070, ../sass/screen.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 1073, ../sass/screen.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 1076, ../sass/screen.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 1079, ../sass/screen.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 1082, ../sass/screen.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 1085, ../sass/screen.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 1088, ../sass/screen.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 1091, ../sass/screen.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 1094, ../sass/screen.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 1097, ../sass/screen.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 1100, ../sass/screen.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 1103, ../sass/screen.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 1106, ../sass/screen.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 1109, ../sass/screen.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 1112, ../sass/screen.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 1115, ../sass/screen.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 1118, ../sass/screen.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 1121, ../sass/screen.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 1124, ../sass/screen.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 1127, ../sass/screen.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 1130, ../sass/screen.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 1133, ../sass/screen.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 1136, ../sass/screen.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 1139, ../sass/screen.scss */
  .col-lg-offset-0 {
    margin-left: 0;
  }

  /* line 1142, ../sass/screen.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 1145, ../sass/screen.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 1148, ../sass/screen.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 1151, ../sass/screen.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 1154, ../sass/screen.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 1157, ../sass/screen.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 1160, ../sass/screen.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 1163, ../sass/screen.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 1166, ../sass/screen.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 1169, ../sass/screen.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 1172, ../sass/screen.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 1175, ../sass/screen.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/* line 1179, ../sass/screen.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 1184, ../sass/screen.scss */
.container-fluid:before {
  content: " ";
  display: table;
}
/* line 1188, ../sass/screen.scss */
.container-fluid:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 1194, ../sass/screen.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 1197, ../sass/screen.scss */
.row:before {
  content: " ";
  display: table;
}
/* line 1201, ../sass/screen.scss */
.row:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 1207, ../sass/screen.scss */
.col-xs-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 8.33333%;
}

/* line 1215, ../sass/screen.scss */
.col-sm-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1221, ../sass/screen.scss */
.col-md-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1227, ../sass/screen.scss */
.col-lg-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1233, ../sass/screen.scss */
.col-xs-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 16.66667%;
}

/* line 1241, ../sass/screen.scss */
.col-sm-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1247, ../sass/screen.scss */
.col-md-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1253, ../sass/screen.scss */
.col-lg-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1259, ../sass/screen.scss */
.col-xs-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 25%;
}

/* line 1267, ../sass/screen.scss */
.col-sm-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1273, ../sass/screen.scss */
.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1279, ../sass/screen.scss */
.col-lg-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1285, ../sass/screen.scss */
.col-xs-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 33.33333%;
}

/* line 1293, ../sass/screen.scss */
.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1299, ../sass/screen.scss */
.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1305, ../sass/screen.scss */
.col-lg-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1311, ../sass/screen.scss */
.col-xs-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 41.66667%;
}

/* line 1319, ../sass/screen.scss */
.col-sm-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1325, ../sass/screen.scss */
.col-md-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1331, ../sass/screen.scss */
.col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1337, ../sass/screen.scss */
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 50%;
}

/* line 1345, ../sass/screen.scss */
.col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1351, ../sass/screen.scss */
.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1357, ../sass/screen.scss */
.col-lg-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1363, ../sass/screen.scss */
.col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 58.33333%;
}

/* line 1371, ../sass/screen.scss */
.col-sm-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1377, ../sass/screen.scss */
.col-md-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1383, ../sass/screen.scss */
.col-lg-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1389, ../sass/screen.scss */
.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 66.66667%;
}

/* line 1397, ../sass/screen.scss */
.col-sm-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1403, ../sass/screen.scss */
.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1409, ../sass/screen.scss */
.col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1415, ../sass/screen.scss */
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 75%;
}

/* line 1423, ../sass/screen.scss */
.col-sm-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1429, ../sass/screen.scss */
.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1435, ../sass/screen.scss */
.col-lg-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1441, ../sass/screen.scss */
.col-xs-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 83.33333%;
}

/* line 1449, ../sass/screen.scss */
.col-sm-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1455, ../sass/screen.scss */
.col-md-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1461, ../sass/screen.scss */
.col-lg-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1467, ../sass/screen.scss */
.col-xs-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 91.66667%;
}

/* line 1475, ../sass/screen.scss */
.col-sm-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1481, ../sass/screen.scss */
.col-md-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1487, ../sass/screen.scss */
.col-lg-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1493, ../sass/screen.scss */
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 100%;
}

/* line 1501, ../sass/screen.scss */
.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1507, ../sass/screen.scss */
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1513, ../sass/screen.scss */
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1519, ../sass/screen.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 1522, ../sass/screen.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 1525, ../sass/screen.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 1528, ../sass/screen.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 1531, ../sass/screen.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 1534, ../sass/screen.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 1537, ../sass/screen.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 1540, ../sass/screen.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 1543, ../sass/screen.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 1546, ../sass/screen.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 1549, ../sass/screen.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 1552, ../sass/screen.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 1555, ../sass/screen.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 1558, ../sass/screen.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 1561, ../sass/screen.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 1564, ../sass/screen.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 1567, ../sass/screen.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 1570, ../sass/screen.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 1573, ../sass/screen.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 1576, ../sass/screen.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 1579, ../sass/screen.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 1582, ../sass/screen.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 1585, ../sass/screen.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 1588, ../sass/screen.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 1591, ../sass/screen.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 1594, ../sass/screen.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 1597, ../sass/screen.scss */
.col-xs-offset-0 {
  margin-left: 0;
}

/* line 1600, ../sass/screen.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 1603, ../sass/screen.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 1606, ../sass/screen.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 1609, ../sass/screen.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 1612, ../sass/screen.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 1615, ../sass/screen.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 1618, ../sass/screen.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 1621, ../sass/screen.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 1624, ../sass/screen.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 1627, ../sass/screen.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 1630, ../sass/screen.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 1633, ../sass/screen.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 1636, ../sass/screen.scss */
.hamburger {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 1654, ../sass/screen.scss */
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 1660, ../sass/screen.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

/* line 1677, ../sass/screen.scss */
.hamburger-inner::before {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  content: "";
  display: block;
  top: -10px;
}

/* line 1694, ../sass/screen.scss */
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  content: "";
  display: block;
  bottom: -10px;
}

/* line 1712, ../sass/screen.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 1718, ../sass/screen.scss */
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
/* line 1722, ../sass/screen.scss */
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 1726, ../sass/screen.scss */
.hamburger--spin.is-active {
  z-index: 40;
}
/* line 1728, ../sass/screen.scss */
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 1736, ../sass/screen.scss */
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
/* line 1742, ../sass/screen.scss */
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (max-width: 767px) {
  /* line 1752, ../sass/screen.scss */
  section {
    padding: 20px 0;
  }

  /* line 1755, ../sass/screen.scss */
  .sub-header {
    display: none;
  }

  /* line 1759, ../sass/screen.scss */
  .intro .slider {
    display: none;
  }
  /* line 1762, ../sass/screen.scss */
  .intro .intro-links {
    display: none;
  }

  /* line 1766, ../sass/screen.scss */
  .banners {
    margin-top: 30px;
    text-align: center;
  }
  /* line 1769, ../sass/screen.scss */
  .banners .item {
    margin-top: 40px;
  }

  /* line 1773, ../sass/screen.scss */
  footer {
    text-align: center;
  }
  /* line 1775, ../sass/screen.scss */
  footer ul {
    margin-top: 40px;
    float: none;
    text-align: center;
  }

  /* line 1781, ../sass/screen.scss */
  .info {
    margin-top: 70px;
  }

  /* line 1785, ../sass/screen.scss */
  .gallery ul li {
    float: none;
    width: 100%;
    padding: 5px;
  }
  /* line 1790, ../sass/screen.scss */
  .gallery .my-gallery figure {
    display: none;
    padding: 0;
  }
  /* line 1793, ../sass/screen.scss */
  .gallery .my-gallery figure.mobile-thumb {
    display: block;
    width: 100%;
  }
  /* line 1796, ../sass/screen.scss */
  .gallery .my-gallery figure.mobile-thumb .mobile-label {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -20px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #be2227;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* line 1810, ../sass/screen.scss */
  .gallery .my-gallery figure.mobile-thumb .mobile-label:hover {
    cursor: pointer;
  }

  /* line 1817, ../sass/screen.scss */
  .contact form textarea {
    margin-top: 20px;
  }
}
@-moz-keyframes breath {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes breath {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes breath {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes sticky-header {
  0% {
    transform: translate(0, -56px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes sticky-header {
  0% {
    transform: translate(0, -56px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes sticky-header {
  0% {
    transform: translate(0, -56px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* line 1917, ../sass/screen.scss */
.loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #ece6dd;
  z-index: 9999;
  transition: visibility 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 1928, ../sass/screen.scss */
.loading-screen .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -88px;
  background-image: url(../images/layout/logo.png);
  animation: breath 2s ease-out infinite normal;
}
/* line 1936, ../sass/screen.scss */
.loading-screen.off {
  visibility: hidden;
  opacity: 0;
}

/* line 1941, ../sass/screen.scss */
.sub-header {
  position: relative;
  height: 43px;
  line-height: 30px;
  border-top: 3px solid #be2227;
  background-color: #f0ece9;
}
/* line 1947, ../sass/screen.scss */
.sub-header .social {
  position: relative;
  top: 8px;
  float: left;
}
/* line 1951, ../sass/screen.scss */
.sub-header .social li {
  display: inline-block;
  margin-left: 20px;
}
/* line 1954, ../sass/screen.scss */
.sub-header .social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 23px;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
/* line 1963, ../sass/screen.scss */
.sub-header .social li a i {
  color: #fff;
}
/* line 1967, ../sass/screen.scss */
.sub-header .social li:first-child {
  margin-left: 0;
}
/* line 1972, ../sass/screen.scss */
.sub-header .numbers {
  position: relative;
  top: 6px;
  float: right;
}
/* line 1976, ../sass/screen.scss */
.sub-header .numbers li {
  display: inline;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}
/* line 1982, ../sass/screen.scss */
.sub-header .numbers li span {
  margin-right: 5px;
  font-size: 14px;
}
/* line 1986, ../sass/screen.scss */
.sub-header .numbers li:first-child {
  margin-left: 0;
}
/* line 1991, ../sass/screen.scss */
.sub-header.sticky {
  margin-bottom: 56px;
}

/* line 1995, ../sass/screen.scss */
.logo {
  display: inline-block;
  width: 156px;
  height: 61px;
  background-image: url(../images/layout/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 2002, ../sass/screen.scss */
.logo.playa {
  width: 196px;
  background-image: url(../images/layout/logo-playa.png);
}
/* line 2006, ../sass/screen.scss */
.logo.medano {
  width: 235px;
  background-image: url(../images/layout/logo-medano.png);
}
/* line 2010, ../sass/screen.scss */
.logo.bosque {
  width: 229px;
  background-image: url(../images/layout/logo-bosque.png);
}

@media (max-width: 991px) {
  /* line 2016, ../sass/screen.scss */
  header .logo {
    background-image: url(../images/layout/logoW.png);
  }

  /* line 2019, ../sass/screen.scss */
  .intro header {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* line 2022, ../sass/screen.scss */
  .intro header .container .hamburger {
    visibility: visible;
    opacity: 1;
    z-index: 120;
  }
  /* line 2027, ../sass/screen.scss */
  .intro header .container nav {
    display: table;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000;
  }
  /* line 2040, ../sass/screen.scss */
  .intro header .container nav ul {
    display: table-cell;
    vertical-align: middle;
  }
  /* line 2043, ../sass/screen.scss */
  .intro header .container nav ul li {
    display: block;
    margin-left: 0;
  }
  /* line 2046, ../sass/screen.scss */
  .intro header .container nav ul li a {
    color: #fff;
    font-size: 35px;
  }
  /* line 2050, ../sass/screen.scss */
  .intro header .container nav ul li.common {
    margin-top: 20px;
    margin-left: 0;
  }
  /* line 2056, ../sass/screen.scss */
  .intro header .container nav.active {
    visibility: visible;
    opacity: 1;
    z-index: 110;
  }

  /* line 2064, ../sass/screen.scss */
  footer ul {
    float: right;
    text-align: right;
  }
  /* line 2067, ../sass/screen.scss */
  footer ul li {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
  /* line 2071, ../sass/screen.scss */
  footer ul li:first-child {
    margin-top: 0;
  }
}
/* line 2077, ../sass/screen.scss */
.intro {
  padding: 0;
  position: relative;
}
/* line 2080, ../sass/screen.scss */
.intro .container {
  position: relative;
}
/* line 2083, ../sass/screen.scss */
.intro .slider {
  position: absolute;
  overflow-y: hidden;
  height: 750px;
  width: 100%;
}
/* line 2088, ../sass/screen.scss */
.intro .slider img {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 2094, ../sass/screen.scss */
.intro header {
  position: relative;
  height: 86px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  background-color: #fff;
  transition: background-color 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2101, ../sass/screen.scss */
.intro header .container {
  height: 86px;
}
/* line 2103, ../sass/screen.scss */
.intro header .container .hamburger {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -28px;
}
/* line 2111, ../sass/screen.scss */
.intro header .container .logo {
  position: absolute;
  top: 12px;
}
/* line 2115, ../sass/screen.scss */
.intro header .container nav {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: inline-block;
}
/* line 2120, ../sass/screen.scss */
.intro header .container nav ul li {
  display: inline;
  margin-left: 20px;
}
/* line 2123, ../sass/screen.scss */
.intro header .container nav ul li a {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2131, ../sass/screen.scss */
.intro header .container nav ul li a:hover {
  color: #be2227;
}
/* line 2135, ../sass/screen.scss */
.intro header .container nav ul li:first-child {
  margin-left: 0;
}
/* line 2138, ../sass/screen.scss */
.intro header .container nav ul li.active a {
  color: #be2227;
}
/* line 2140, ../sass/screen.scss */
.intro header .container nav ul li.active a:before {
  visibility: visible;
  background-color: #be2227;
  transform: scaleX(1);
}
/* line 2150, ../sass/screen.scss */
.intro header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: sticky-header 1s cubic-bezier(0.25, 0.8, 0.25, 1) normal;
}
/* line 2161, ../sass/screen.scss */
.intro .intro-links {
  position: absolute;
  top: 100px;
}
/* line 2164, ../sass/screen.scss */
.intro .intro-links span {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 5px #000000;
}
/* line 2173, ../sass/screen.scss */
.intro .intro-links ul li {
  display: inline-block;
  margin-left: 20px;
}
/* line 2176, ../sass/screen.scss */
.intro .intro-links ul li a {
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2186, ../sass/screen.scss */
.intro .intro-links ul li a:hover {
  color: #000000;
  background-color: rgba(204, 102, 0, 0.8);
}
/* line 2191, ../sass/screen.scss */
.intro .intro-links ul li:first-child {
  margin-left: 0;
}

/* line 2197, ../sass/screen.scss */
.welcome {
  position: relative;
  background-image: url(../images/layout/pinos.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 2204, ../sass/screen.scss */
.welcome p {
  color: #fff;
  margin-top: 20px;
  font-size: 18px;
  line-height: 34px;
}
/* line 2210, ../sass/screen.scss */
.welcome .container {
  position: relative;
}
/* line 2212, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 100%;
}
/* line 2217, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows span {
  font-size: 100px;
  color: #333333;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2222, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows span.icon-site-arrow-left {
  position: relative;
  left: -50px;
  float: left;
}
/* line 2227, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows span.icon-site-arrow-right {
  position: relative;
  right: -50px;
  float: right;
}
/* line 2232, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows span:hover {
  cursor: pointer;
  color: #be2227;
}
/* line 2239, ../sass/screen.scss */
.welcome h3 {
  font-size: 28px;
  color: #be2227;
}
/* line 2243, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul {
  display: block;
  margin-top: 20px;
  text-align: center;
}
/* line 2247, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul li {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background-color: #333333;
  border-radius: 50%;
}
/* line 2255, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul li:hover {
  cursor: pointer;
}
/* line 2258, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul li.active {
  background-color: #be2227;
}
/* line 2261, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul li:first-child {
  margin-left: 0;
}

/* line 2267, ../sass/screen.scss */
.welcome::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 1024px) {
  /* line 2280, ../sass/screen.scss */
  .welcome .container .owl-welcome-arrows {
    display: none;
  }

  /* line 2283, ../sass/screen.scss */
  footer ul li {
    margin-left: 10px;
  }
  /* line 2285, ../sass/screen.scss */
  footer ul li a {
    font-size: 12px;
  }
}
/* line 2290, ../sass/screen.scss */
.services {
  text-align: center;
}
/* line 2292, ../sass/screen.scss */
.services h2 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #be2227;
  text-transform: uppercase;
}
/* line 2298, ../sass/screen.scss */
.services ul {
  text-align: left;
  column-count: 2;
  column-gap: 50px;
  column-fill: auto;
}
/* line 2305, ../sass/screen.scss */
.services ul li {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  font-size: 20px;
}
/* line 2310, ../sass/screen.scss */
.services ul li i {
  margin-right: 10px;
  color: #be2227;
}
/* line 2314, ../sass/screen.scss */
.services ul li span {
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #be2227;
}

@media (max-width: 667px) {
  /* line 2325, ../sass/screen.scss */
  .services ul {
    column-count: 1;
  }

  /* line 2329, ../sass/screen.scss */
  .info ul {
    column-count: 1;
  }
}
/* line 2334, ../sass/screen.scss */
.gallery {
  background-color: #f1f1f1;
}
/* line 2336, ../sass/screen.scss */
.gallery h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #be2227;
  text-transform: uppercase;
  text-align: center;
}
/* line 2343, ../sass/screen.scss */
.gallery ul {
  margin-top: 40px;
}
/* line 2345, ../sass/screen.scss */
.gallery ul:before {
  content: " ";
  display: table;
}
/* line 2349, ../sass/screen.scss */
.gallery ul:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 2354, ../sass/screen.scss */
.gallery ul li {
  position: relative;
  display: block;
  float: left;
  padding: 20px;
  width: 33.3%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2367, ../sass/screen.scss */
.gallery ul li:before {
  content: '';
  position: absolute;
  visibility: hidden;
  display: block;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: #be2227;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), visibility 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2382, ../sass/screen.scss */
.gallery ul li:hover {
  cursor: pointer;
  color: #be2227;
}
/* line 2386, ../sass/screen.scss */
.gallery ul li.active:before {
  visibility: visible;
  transform: scaleX(1);
}

/* line 2395, ../sass/screen.scss */
.contact h2 {
  font-size: 30px;
  color: #be2227;
  text-transform: uppercase;
  text-align: center;
}
/* line 2401, ../sass/screen.scss */
.contact form {
  margin-top: 40px;
}
/* line 2403, ../sass/screen.scss */
.contact form input {
  padding: 15px;
  width: 100%;
  border: 2px solid #be2227;
  background-color: #f1f1f1;
  border-radius: 8px;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 20px;
  height: 45px;
}
/* line 2414, ../sass/screen.scss */
.contact form input:hover {
  outline: 0;
}
/* line 2417, ../sass/screen.scss */
.contact form input:focus {
  outline: 0;
  background-color: #fff;
}
/* line 2421, ../sass/screen.scss */
.contact form input:first-child {
  margin-top: 0;
}
/* line 2425, ../sass/screen.scss */
.contact form textarea {
  padding: 15px;
  width: 100%;
  border: 2px solid #be2227;
  background-color: #f1f1f1;
  border-radius: 8px;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 175px;
}
/* line 2435, ../sass/screen.scss */
.contact form textarea:hover {
  outline: 0;
}
/* line 2438, ../sass/screen.scss */
.contact form textarea:focus {
  outline: 0;
  background-color: #fff;
}
/* line 2443, ../sass/screen.scss */
.contact form .col-sm-12 {
  text-align: center;
}
/* line 2445, ../sass/screen.scss */
.contact form .col-sm-12 .send {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000000;
  border-radius: 8px;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2457, ../sass/screen.scss */
.contact form .col-sm-12 .send:hover {
  color: #000000;
  background-color: #be2227;
}

/* line 2466, ../sass/screen.scss */
.map h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #be2227;
  text-transform: uppercase;
  text-align: center;
}
/* line 2473, ../sass/screen.scss */
.map #map {
  width: 100%;
  height: 600px;
}

/* line 2479, ../sass/screen.scss */
.info h2 {
  font-size: 30px;
  color: #be2227;
  text-transform: uppercase;
  text-align: center;
}
/* line 2484, ../sass/screen.scss */
.info h2.sub {
  margin-top: 40px;
}
/* line 2488, ../sass/screen.scss */
.info h3 {
  margin: 30px 0 15px;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}
/* line 2494, ../sass/screen.scss */
.info p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}
/* line 2499, ../sass/screen.scss */
.info ul {
  column-count: 2;
  column-gap: 20px;
  column-fill: auto;
}
/* line 2505, ../sass/screen.scss */
.info ul li {
  display: flex;
  align-items: baseline;
  font-size: 20px;
}
/* line 2509, ../sass/screen.scss */
.info ul li span {
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #be2227;
}

/* line 2520, ../sass/screen.scss */
.my-gallery figure {
  margin-top: 40px;
}
/* line 2523, ../sass/screen.scss */
.my-gallery .mobile-label {
  display: none;
}

/* line 2527, ../sass/screen.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 2530, ../sass/screen.scss */
.banners .item {
  position: relative;
}
/* line 2532, ../sass/screen.scss */
.banners .item h2 {
  position: absolute;
  top: 0;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100%;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 2544, ../sass/screen.scss */
.banners .item p {
  margin-top: 20px;
  font-size: 16px;
  color: #020202;
}

/* line 2551, ../sass/screen.scss */
#caja-DATAFISCAL {
  display: inline-block;
  margin-top: 20px;
}
