			<strong>Nombre</strong>: {{ nombre }} <br />
			<strong>Mail</strong>: {{ email }} <br />
			<strong>Tel&eacute;fono</strong>: {{ telefono }} <br /> 
			<strong>Mensaje</strong>:<br />
			<p>{{ mensaje|nl2br }}</p>
			